@import "colors";
@import "medidas-queries";
@import "animaciones";

* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
    src: url('../fonts/Oswald/static/Oswald-Bold.ttf');
    src: url('../fonts/Oswald/static/Oswald-ExtraLight.ttf');
    src: url('../fonts/Oswald/static/Oswald-Light.ttf');
    src: url('../fonts/Oswald/static/Oswald-Medium.ttf');
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf');
    src: url('../fonts/Oswald/static/Oswald-SemiBold.ttf');
}




/*BODY*/

body.body {
    font-family: 'Oswald', sans-serif;
    background-image: map-get($fondos, fondo-principal );
    
    &.scroll::-webkit-scrollbar {
        width: 10px;
        background-color: map-get($scroll, scroll-back);

        @include desktop-scroll {
            width: 13px;
        }
    
    }
    &.scroll::-webkit-scrollbar-thumb {
        background-color: map-get($scroll, scroll-bar );
        border-radius: 5px;

        @include desktop-scroll {
            border-radius: 20px;
        }

    }
    
}


/*HEADER*/ 
/*Configuracion de estilos Bootstrap*/
header.header {
    position: sticky;
    top: 0%;
    z-index: 2;
}

img.navbar__logo {
    width: 200px;
    margin-bottom: 10%;
   
}
header nav.navbar {
    background-image: map-get($fondos, fondo-nav-bar );
    font-size:large;
    text-transform: uppercase;
    border-bottom: map-get($border-colors, border-nav );
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    @include desktop-section-1920 {
        font-size: 25px;
        
        .busqueda-custom {
            width: 400px;
        }
    }
}
div.drop-down-custom {
    background-image:  map-get($fondos, fondo-secundario );
}
a.anchor-custom {
    font-weight: bold;
    color: map-get($anchor-color, link );
}
/*END Configuracion*/
/*END HEADER*/


/*INDEX*/
/*MAIN*/
/*SECTION promociones*/
main section.promociones {
    font-family:'Oswald', sans-serif;
    color:map-get($font-colors, color-one);
    background-image:  map-get($fondos, fondo-secundario );
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    @include desktop-section {
        margin-left: 5%;
        width: 85%;
        font-family:'Oswald', sans-serif;
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "imagen-uno descripcion-uno"
        "imagen-dos descripcion-dos"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 2fr 2fr;
    }
    @include desktop-section-1920 {
        height: 1800px;
    }

      h1.promociones__titulo {
        color: map-get($font-colors, color-title);
        text-transform: uppercase;
        margin-bottom: 10%;
        margin-top: 5%;
        border-top: map-get($border-colors, border-title);
        border-radius: 5%;
        
         @include desktop-section {
            justify-self: center;
            align-self: center;
            padding: 0px;
            margin: 0px;
            grid-area: titulo;
            border: none;
        }
    }

     div.promociones__kit-one {
        text-align: center;
        background-color: map-get($fondos, fondo-principal );
        border:  map-get($border-colors, border-box);
        border-radius: 50px;
        margin: 5%;
        padding: 5%;

            @include desktop-section {
                border: none;
                grid-area: imagen-uno;
                width: 75%;
                height: 500px;
                margin-top: 70px;
                background-color: map-get($fondos, fondo-secundario );
                color:map-get($font-colors, color-one);

             }

         img.promociones__kit-one-imagen {
            border: map-get($border-colors, border-box);
            border-radius: 50px;
            width: 95%;
            margin: auto;

            @include desktop-section {
                width: 100%;
            }
        }

        h2.promociones__kit-one-titulo {
            font-size: 30px;
            margin-top: 5%;
            text-transform: uppercase;
        }
    }

     div.promociones__kit-two {
        text-align: center;
        text-align: center;
        background-color:map-get($fondos, fondo-principal );
        border: map-get($border-colors, border-box);
        border-radius: 50px;
        margin: 5%;
        padding: 5%;

        @include desktop-section {
            border: none;
            grid-area: imagen-dos;
            width: 80%;
            height: 500px;
            margin-top: 70px;
            background-color: map-get($fondos, fondo-secundario );
            color: map-get($font-colors, color-one);
        }

        img.promociones__kit-two-imagen {
            border: map-get($border-colors, border-box);
            border-radius: 50px;
            width: 100%; 
            margin: auto;

            @include desktop-section {
                width: 90%;
            }
        }

        h2.promociones__kit-two-titulo {
            font-size: 30px;
            margin-top: 5%;
            text-transform: uppercase;
        }
        
    }

    div.promociones__kit-one-desktop {
        visibility: hidden;
        width: 0px;
        height: 0px;

        @include desktop-section  {
            visibility: visible;
            background-color: map-get($fondos, fondo-one );
            border-radius: 10px;
            padding: 30px;
            width: 100%;
            height: 500px;
            margin-top: 65px;
            grid-area: descripcion-uno;
            align-self: start;

          
            p.promociones__kit-one-desktop-parrafo{
                color: map-get($font-colors, color-one);
                font-size: 23px
                
            }
            @include desktop-section-1920 {
                font-size: 1800px;
                p.promociones__kit-one-desktop-parrafo{  
                    font-size: 35px
                    
                }
            }

        }

        
    }
     div.promociones__kit-two-desktop {
        visibility: hidden;
        width: 0px;
        height: 0px;

        @include desktop-section {
            visibility: visible;
            background-color: map-get($fondos, fondo-secundario );
            border-radius: 10px;
            padding: 30px;
            width: 100%;
            height: 500px;
            margin-top: 65px;
            align-self: start;
            grid-area: descripcion-dos;

            p.promociones__kit-two-desktop-parrafo {
                color: map-get($font-colors, color-one);
                font-size: 23px
            }

       } 
       @include desktop-section-1920 {
        font-size: 1800px;
        p.promociones__kit-two-desktop-parrafo{  
            font-size: 35px
            
        }
    }  
    
    }
}

/*END SECTION Promociones*/


/*SECTION Descuentos*/

main section.descuentos {
    height: 220px;
    color: map-get($font-colors, color-content);
    border-bottom: map-get($border-colors, border-box-two);
    border-top: map-get($border-colors, border-box-two);
    margin: 5%;
    border-radius:5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @include desktop-section {
        font-family:'Oswald', sans-serif;
        text-transform: uppercase;
        color: map-get($font-colors, color-content);
        background-image: map-get($fondos, fondo-alternativo);
        border: none;
        border-radius:10px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @include desktop-section-1920 {
        height: 280px;
    }


    &.descuentos div.descuentos__reprocann {
        text-align: center;
        font-family:'Oswald', sans-serif;
        font-size: 30px;
        text-transform: uppercase;

        @include desktop-section {
            height: 100%;
            width: 30%;
            text-align: center;
            font-family:'Oswald', sans-serif;
            font-size: 30px;
            text-transform: uppercase;
        }

        &.descuentos__reprocann img.descuentos__imagen{
            width: 50%;
            margin-top: 5px;
        }
        &.descuentos__reprocann h2.descuentos__titulo{
            font-size: 75%;
        }
        &.descuentos__reprocann p.descuentos__parrafo {
            font-size: 75%;
        }
    }

    &.descuentos div.descuentos__envios {
        display: none;    
        @include desktop-section {
            width: 30%;
            height: 100%;
            display: block;
        }
    
        &.descuentos__envios img.descuentos__envios-imagen {
            display: none; 
            @include desktop-section {
                width: 50%;
                display: block; 
                margin-left: 85px;
            }   
        }
        &.descuentos__envios h2.descuentos__envios-titulo {
            display: none;  
            @include desktop-section {
                display: block; 
                text-align: center;   
                font-size: 25px;  
            }  
        }

    }

    &.descuentos div.descuentos__tarjetas {
        display: none;    

        @include desktop-section {
            width: 30%;
            height: 100%;
            display: block;
        }

        &.descuentos__tarjetas  img.descuentos__tarjetas-imagen {
            display: none;  

            @include desktop-section {
                width: 50%;
                height: 70%;
                display: block; 
                margin-left: 85px;
            }
}
        &.descuentos__tarjetas  h2.descuentos__tarjetas-titulo {
            display: none; 

            @include desktop-section {
                display: block;     
                text-align: center;
                font-size: 25px; 
            } 

        }
    }
}
/*END SECTION Descuento*/


/*SECTION Destacados*/
 section.destacados {
    font-family:'Oswald', sans-serif;
    background-image: map-get($fondos, fondo-secundario);
    border-radius: 15px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @include desktop-section {
        margin: 50px;
        padding: 20px;
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "destacado-one destacado-two destacado-three destacado-four"
        ;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items:center ;
        align-items:center ;
        height: 700px;
        gap: 10px;

        div.destacados__one {
            text-align: center;
            grid-area: destacado-one;
            padding-top: 10px;
            border-radius: 50px;
            margin: 0%;
            padding: 0%;
        }

        div.destacados__two {
            grid-area: destacado-two;
        }

        div.destacados__three {
            grid-area: destacado-three;
        }
        
        div.destacados__four {
            grid-area: destacado-four;
        }
    }

     &.destacados .destacados__titulo{
        text-transform: uppercase;
        color:  map-get($font-colors, color-title);
        margin-bottom: 10%;
        margin-top: 5%;
        border-top: map-get($border-colors, border-title );
        border-radius: 5%;

        @include desktop-section {
            grid-area: titulo;
            text-transform: uppercase;
            margin-bottom: 0%;
            margin-top: 0%;
            border-radius: 0%;
            text-align: center;

        }
    }

    &.destacados div.destacados__general{
        text-align: center;
        background-image:map-get($fondos, fondo-principal);
        border: map-get($border-colors, border-box);
        border-radius: 50px;
        margin: 8%;
        padding: 2%;

        @include desktop-section {
                align-self: center;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 5px;
                padding-top: 25px;
        }

        &.destacados__general img.destacados__imagen {
            border: map-get($border-colors, border-box);
            border-radius: 50px;
            margin: auto;
            width: 60%;

            @include desktop-section {
                border-radius: 50px;
                margin: auto;
                width: 85%;
            }
        }
    }
    .destacados__producto{
        font-size: 30px;
        margin-top: 5%;
        text-transform: uppercase;

        @include desktop-section {
            font-size: 30px;
            margin-top: 5%;
            text-transform: uppercase;
        }
    }
    .destacados__parrafo{
        color:map-get($font-colors, color-one);
        font-size: 100%;
        margin-top: 5%;
        text-transform: uppercase;

        @include desktop-section {
            font-size: 20px;
            margin-top: 0%;
            text-transform: uppercase;
        }
    }
}
/*END SECTION Destacados*/


/*SECTION Iframe*/
section.enlace {
    font-family:'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-items: center;
    align-items: center;

    @include desktop-section {
        display: grid;
        grid-template-areas: 
        "video titulo"
        "video parrafo"
        ;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        margin: 50px;
        justify-items:center ;
        align-items:center ;
        gap: 15px;
    }

    &.enlace div.enlace__topcrop {
        text-align: center;

        @include desktop-section {
            text-align: center;
            grid-area: video;
            width: 100%; 
            height: 100%;
        }

         &.enlace__topcrop iframe.enlace__video{
            border-radius: 10px;

            @include desktop-section {
                border-radius: 0px;
                border-radius: 20px;
                width: 560px; 
                height: 400px;
            }
            @include desktop-section-1920 {
                height: 450px;
            }
        }
        
    }
    &.enlace  div.enlace__titulo {
        text-transform: uppercase;
        text-align: center;

        @include desktop-section {
            grid-area: titulo;
            text-transform: uppercase;
            font-size: 20px;
            border-radius: 10px;
            padding: 5px;
        }
        @include desktop-section-1920 {
            font-size: 50px;
        }
       
    }

    &.enlace  div.enlace__parrafo {
        padding: 5px;
        text-align: center;
        background-image: map-get($fondos, fondo-secundario);
        color: map-get($font-colors, color-one);
        border-radius: 10px;

        @include desktop-section {
            border-radius: 10px;
            grid-area: parrafo;
            padding: 10px;
            font-size: 20px;
        }
        @include desktop-section-1920 {
            height: 280px;
            font-size: 29px;
        }
    }

}
/*END SECTION Iframe*/
/*END INDEX*/

/*FOOTER*/
footer.footer {
    font-family:'Oswald', sans-serif;
    background-image: map-get($fondos, fondo-footer );
    color: map-get($font-colors, color-one);
    display: flex;
    flex-direction: column;
    @include desktop-section {
        font-family:'Oswald', sans-serif;
        background-color: #3c4336;
        display: grid;
        grid-template-areas: 
        "contacto redes navegacion"
        "contacto redes navegacion"
        "copy copy copy"
        ;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        padding-top: 50px;
    }

    &.footer div.footer__contacto {
        margin-top: 20px;
        text-align: center;

        @include desktop-section {
            margin: 0px;
            padding: 0px;
            text-align: center;
            grid-area: contacto;
        }

        &.footer__contacto h3.footer__contacto-titulo {
            font-size: 120%;

            @include desktop-section {
                font-size: 200%;
            }
        }
        &.footer__contacto p.footer__contacto-parrafos {
            font-size: 100%;

            @include desktop-section {
                font-size: 150%;
            }
        }

    }
    
    
    &.footer div.footer__redes {
        margin-top: 20px;
        text-align: center;
        @include desktop-section {
            margin: 0px;
            padding: 0px;
            grid-area: redes;
            text-align: center;
        }

        h3.footer__redes-titulo {
            font-size: 120%;
            text-align: center;

            @include desktop-section {
                font-size: 200%;
                text-align: center;
            }
    }
    img.footer__redes-imagen {
        width: 10%;
        @include desktop-section {

            padding: 20px;
            width: 25%;
        }
     }
    }
 
     &.footer div.footer__right {
        color: map-get($font-colors, color-content);
        font-size: 15px;
        margin: 5px;
        text-align: center; 

        @include desktop-section {
            grid-area: copy;
            font-size: 15px;
            text-align: center;
        }     
    }
}

footer.footer div.footer__navegacion {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-section {
        margin: 0px;
        padding: 0px;
        grid-area: navegacion;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &.footer__navegacion h3.footer__navegacion-titulo {
        font-size: 120%;

        @include desktop-section {
            font-size: 200%;

        }
    }
     a.footer__navegacion-anchor {
        font-size: 100%;
        color: map-get($anchor-color, link);
        text-decoration: underline;
        transition: 250ms;
         
        @include desktop-section {
            font-size: 150%;
        }

        &:hover { 
            font-weight: bold;
            border-radius: 10px;
            padding: 2px;
            background-color: map-get($anchor-color, link-hover-fondo );
            color: map-get($anchor-color, link-hover)
        }
    }
     
}
/*END FOOTER*/



/*PAGINA SEMILLAS*/
/*SECTION descripcion*/
section.descripcion {
    font-family:'Oswald', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    background-image: map-get($fondos, fondo-secundario );
    color: map-get($font-colors, color-one);
    text-align: justify;
    

    &.descripcion div.descripcion__contenedor {
        text-align: center;
        &.descripcion__contenedor h1.descripcion__contenedor-titulo {
            text-transform: uppercase;
        }
        &.descripcion__contenedor p.descripcion__contenedor-parrafo {
            font-size: 20px;

            &.descripcion__contenedor-parrafo a.descripcion__contenedor-parrafo-anchor {
                color: map-get($anchor-color, link);
                text-decoration: underline;
                border-radius: 10px;
                transition: 250ms;

                &:visited {
                    color: map-get($anchor-color, link-visited);
                
                }
                &:hover {
                    font-weight: bold;
                    padding: 2px;
                    background-color: map-get($anchor-color, link-hover-fondo);
                    color: map-get($anchor-color, link-hover);
                }
            }
        }
    }
    
}
/*END SECTION descripcion*/

/*SECTION cbd*/
section.cbd {
    font-family:'Oswald', sans-serif;
    text-align: justify;
    border-top: map-get($border-colors, border-box-two);
    border-radius: 4px;
    margin: 10px;
    margin-top: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    
    @include desktop-section {
        font-family:'Oswald', sans-serif;
        border: none;
       margin: 20px;
       padding: 20px;
       margin-top: 50px;
        display: grid;
        grid-template-areas: 
        "imagen titulo"
        "imagen descripcion"
        "imagen descripcion"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;

        &.cbd div.cbd__imagen {
            grid-area: imagen;
        }
        
    }


    &.cbd div.cbd__imagen-titulo{
        text-align: center;
        margin-top: 35px;

        @include desktop-section {
            grid-area: titulo;
        text-align: center;
        }

    }
    img.cbd__imagen-custom {
        margin-top: 10px;
        width: 100%;
        height: 95%;
        border-radius: 7px;
        
        @include desktop-section {
            grid-area: imagen;
            margin-top: 10px;
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
    }
    div.cbd__descripcion {
        background-image: map-get($fondos, fondo-secundario);
        color: rgb(206, 211, 216);
        border-radius: 10px;
        padding: 25px;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;

        @include desktop-section {
            grid-area: descripcion;
            font-size: 20px;
            padding-top: 10px;
        }

        a.cbd__descripcion-two-anchor {
            color: map-get($font-colors, color-one);
            text-decoration: underline;
            border-radius: 10px;

            &:visited {
                color: map-get($anchor-color, link-visited);
            }

            &:hover {
                font-weight: bold;
                padding: 2px;
                background-color: map-get($anchor-color, link-hover-fondo);
                color: map-get($anchor-color, link-hover);
            }
        }
       
    }
}
/*END SECTION Cbd*/


/*SECTION Variedades*/
section.variedades {
    font-family:'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 25px;
    color: map-get($font-colors, color-two);

    @include desktop-section {
        display: grid;
        grid-template-areas: 
        "titulo titulo "
        "titulo-one titulo-two"
        "imagen-one imagen-two"
        "descripcion-one descripcion-two"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.2fr 1fr 0.3fr;
        gap: 10px;
        justify-items: center;
        align-items: center;
        background-image: map-get($fondos, fondo-secundario );
        border-radius: 30px;
        margin: 35px;
        padding: 50px;
        width: 85%;
        margin-left: 100px;
        
        div.variedades__titulo {
            grid-area: titulo;
        }
        
        div.variedades__one-imagen {
            width: 100%;
            border-radius: 10px;
            grid-area: imagen-one;
            padding: 5px;
            
        }
        div.variedades__two-titulo {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-size: 25px;
            grid-area: titulo-two;
        }
        div.variedades__one-parrafo{
            margin-top: 10px;
            font-size: 20px;
            margin-bottom: 50px;
            grid-area: descripcion-one;
            padding: 10px;
            text-align: center;
        }
        div.variedades__two-imagen {
            width: 100%;
            border-radius: 10px;
            grid-area: imagen-two;
        }
        div.variedades__two-titulo {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-size: 25px;
            grid-area: titulo-two;
        }
        div.variedades__two-parrafo {
            margin: 0px;
            font-size: 20px;
            grid-area: descripcion-two;
            padding: 10px;
            text-align: center;
        
        }
    }
    &.variedades h2.variedades__titulo {
        text-transform: uppercase;
        font-size: 25px;
        border-top: map-get($border-colors, border-box );
        border-bottom: map-get($border-colors, border-box );
        border-radius: 4px;
        margin: 10px;
        margin-bottom: 50px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        @include desktop-section {
            text-transform: uppercase;
            font-size: 30px;
        }
    }
    &.variedades h2.variedades__one-titulo{
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 25px;
        @include desktop-section {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-size: 25px;
            grid-area: titulo-one;
        }

    }
    &.variedades img.variedades__one-imagen {
        width: 70%;
        border-radius: 10px;

        @include desktop-section {
                width: 70%;
                border-radius: 10px;
                grid-area: imagen-one;
                padding: 5px;
            
        }

    }
    &.variedades p.variedades__one-parrafo{
        background-image: map-get($fondos, fondo-alternativo);
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 50px;
        @include desktop-section {

            margin-top: 10px;
            font-size: 20px;
            margin-bottom: 50px;
            grid-area: descripcion-one;
            padding: 10px;
            text-align: center;
        }
    }
     a.variedades__one-anchor {
        color: map-get($anchor-color, link);
        text-decoration: underline;
        border-radius: 10px;
        &:hover{
            font-weight: bold;
            padding: 2px;
            background-color: map-get($anchor-color, link-hover-fondo);
            color: map-get($anchor-color, link-hover);
        }
    }
    &.variedades img.variedades__two-imagen {
        width: 70%;
        border-radius: 10px;

    }
    &.variedades h2.variedades__two-titulo{
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 25px;
        color: map-get($font-colors, color-two);
    
    }
    &.variedades p.variedades__two-parrafo{
        background-image: map-get($fondos, fondo-alternativo);
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        font-size: 20px;
    }
    &.variedades a.variedades__two-anchor{
        color: map-get($anchor-color, link);
        text-decoration: underline;
        border-radius: 10px;
        &:hover{
            font-weight: bold;
            padding: 2px;
            background-color: map-get($anchor-color, link-hover-fondo);
            color: map-get($anchor-color, link-hover);
        }
    }
    
}
/*END SECTION Variedades*/



/*SECTION thc*/
section.thc {
    font-family:'Oswald', sans-serif;
    border-top: map-get($border-colors, border-box);
    border-radius: 4px;
    margin: 25px;
    margin-top: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    @include desktop-section {
        display: grid;
        grid-template-areas: 
        "titulo imagen"
        "descripcion  imagen"
        "descripcion imagen "
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;
        margin: 20px;
        margin-top: 100px;
        padding: 20px;

         div.thc__imagen {
            grid-area: imagen;
            margin-top: 10px;
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
    }

    &.thc div.thc__titulo{
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;

        @include desktop-section {
            grid-area: titulo;
            text-align: center;
        }

        &.thc__titulo h2.thc__titulo-custom {
            font-size: 25px;

            @include desktop-section {
                font-size: 40px;
            }
        }
    }
    &.thc img.thc__imagen-custom {
        margin-top: 10px;
        width: 100%;
        height: 95%;
        border-radius: 7px;
    }
    &.thc div.thc__descripcion {
        background-image: map-get($fondos, fondo-secundario);
        color: rgb(206, 211, 216);
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        padding: 25px;
        @include desktop-section {
            grid-area: descripcion;
            padding: 20px;
            font-size: 20px;
            padding-top: 10px;
        }

        &.thc__descripcion a.thc__descripcion-anchor {
            color: #ececec;
            text-decoration: underline;
            border-radius: 10px;

            &:visited {
                color: rgb(141, 90, 137);
            }
            &:hover {
                font-weight: bold;
                padding: 2px;
                background-color: #495042;
                color: rgb(118, 223, 118);
            }
        }
    }
    
}
/*END SECTION THC*/
/*END PAGINA SEMILLAS*/



/*PAGINA CONTACTO*/
/*SECTION Contacto*/
section.contacto {
    font-family:'Oswald', sans-serif;
    background-image: map-get($fondos, fondo-alternativo-two);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    @include desktop-section {
     display: flex;
     flex-direction: row;       
    }
    
    &.contacto div.contacto__nosotros {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        @include desktop-section {
            width: 50%;
        }


        h3.contacto__nosotros-titulo {
            font-size: 200%;
            margin-bottom: 20px;
        }
        p.contacto__nosotros-telefono {
            font-size: 180%;
            text-align: center;

            img.contacto__nosotros-telefono-imagen {
                width: 15%;
                margin-right: 20px;
            }
        }
        p.contacto__nosotros-ubicacion {
            font-size: 180%;
            text-align: center;
            margin-left: 50px;
            img.contacto__nosotros-ubicacion-imagen {
                width: 15%;
                margin-right: 20px;
                
            }
        }
    
    }
    input.boton-custom {
        background-image: map-get($fondos, fondo-alternativo);
        background-color: aqua;
    }
}
input.boton-custom {
    background-image: map-get($fondos, fondo-alternativo);
    width: 100px;
    height: 50px;
    border-radius: 5px;
}
/*END SECTION Contacto*/
/*END PAGINA CONTACTO*/

/*PAGINA PRODUCTOS*/
/*SECTION Productos*/
section.productos {
    font-family:'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px;
   
    @include desktop-section {
        display: grid;
        grid-template-areas: 
        "filtro titulo titulo titulo"
        "filtro product-1 product-2 product-3 "
        "filtro product-4 product-5 product-6"
        "filtro product-7 product-8 product-9"
        ;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        gap: 20px;
    }


    div.productos__filtros {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        @include desktop-section {
            grid-area: filtro;
            border-right: map-get($border-colors, border-nav );
            border-radius: 5px;
            height: 500px;
            padding-right: 10px;
            padding-left: 10px;
        }

       h3.productos__filtros-titulo {
        padding-top: 30px;
        text-align: center;
        justify-content: center;
        }
        div.productos__filtros-search {
            justify-content: center;
            width: 100%;
            height: 80px;
            border-radius: 20px;
            background-image: map-get($fondos, fondo-principal);
            margin-bottom: 20px;
            @include desktop-section {
                height: 150px;
            }

            input.input-custom {
                border-radius: 100px;
                height: 30px;
                @include desktop-section {
                    height: 40px;
                }
            }
            button.btn-custom {
                color: black;
                font-size: 12px;
                text-transform: uppercase;
                border-radius: 100px;
                height: 30px;
                background-image: map-get($fondos, fondo-secundario);

                @include desktop-section {
                    height: 40px;
                }
            }
        }
        div.productos__filtros-custom {
            visibility: hidden;
            display: none;
            @include desktop-section {
                visibility: visible;
                display: block;
                text-transform: uppercase;
                font-size: 20px;

                div.productos__filtros-custom-general{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }

    }

/*Configuracion general de imagenes y parrafos seccion productos*/


        h3.prodcutos__parafernalia-titulo{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: map-get($font-colors, color-content);

        @include desktop-section {
            grid-area: titulo;
            
            }
        }
        @include desktop-section {

            div.prodcutos__parafernalia-one {
                grid-area: product-1;
            }
            div.prodcutos__parafernalia-two {
                grid-area: product-2;
            }
            div.prodcutos__parafernalia-three {
                grid-area: product-3;
            }
            div.prodcutos__parafernalia-four {
                grid-area: product-4;
            }
            div.prodcutos__parafernalia-five {
                grid-area: product-5;
            }
            div.prodcutos__parafernalia-six {
                grid-area: product-6;
            }
            div.prodcutos__parafernalia-seven {
                grid-area: product-7;
            }
            div.prodcutos__parafernalia-eight {
                grid-area: product-8;
            }
            div.prodcutos__parafernalia-nine {
                grid-area: product-9;
            }
        }

        div.prodcutos__parafernalia-contenedor {
            width: 100%;
            text-align: center;
            margin-bottom: 60px;
            border-bottom: map-get($border-colors, border-box-two );
            border-radius: 5px;

            img.prodcutos__imagenes {
                width: 80%;
                border-radius: 10px ;
            }

            p.productos__parrafos {
                text-transform: uppercase;
                font-size: 25px;
            }
 /*Fin Configuracion general de imagenes y parrafos seccion productos*/
        }
    }
    .imagen_sustrato {
        width: 50%;
        height: 70%;
    }
    @include desktop-section {
    .sustrato-general{
        height: 90%;

        }
    }